@colorPrimary: #262626;

* {
  box-sizing: border-box;
}

html {
  // background-color: rgba(27, 38, 54, 1);
  // color: #fff;
  background-color: #fff;
  color: #222;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.rss-app {
  header {
    height: 50px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    position: relative;
    z-index: 1000;
    background-color: #fff;
    .header-1 {
      font-size: 30px;
      font-weight: 600 !important;
      display: flex;
      align-items: start;
      width: 200px;
      padding: 10px 0 0 10px;
      overflow: hidden;
      .logo {
        width: 50px;
        height: auto;
        display: inline-block;
      }
    }
    .header-2 {
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: hidden;
      text-align: center;
      border-right: 1px solid #f0f0f0;
    }
    .header-3 {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      padding: 0 10px;
    }
  }
  main {
    .intter-no {
      min-height: calc(100vh - 50px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .intter {
      min-height: calc(100vh - 50px);
      padding: 10px;
      // text-align: center;
      h1 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
        text-align: left;
      }
      h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
      }
      h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
      }
      p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
      }
      ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        unicode-bidi: isolate;
      }
      li {
        display: list-item;
        text-align: -webkit-match-parent;
        unicode-bidi: isolate;
      }
      blockquote {
        background-color: rgba(255, 229, 100, 0.3);
        border-left: 9px solid #ffe564;
        padding: 10px 20px 10px 12px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        border-radius: 4px;

        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
        unicode-bidi: isolate;
      }
      img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        object-fit: cover; /* 或 contain */
      }
      a {
        color: #1677ff;
        text-decoration: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        transition: color 0.3s;
        display: inline-block;
      }
    }

    .menu {
      height: calc(100vh - 50px);
      position: relative;
      width: 100%;
      border-right: 1px solid #f0f0f0;
      display: flex;
      flex-direction: column;
      .fast-list {
        padding: 5px 10px;
        .ant-segmented {
          width: 100%;
          .ant-segmented-group {
            flex-direction: column !important;
          }
        }
      }
      .config {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
      }
      .take {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        // border: 1px solid #f0f0f0;
        margin: 0.25rem;
        .left {
          flex: 1;
          padding-right: 2px;
        }
        button {
          margin: 0 2px;
        }
      }

      .menu-list {
        flex: 1;
        overflow-y: auto;
        padding: 0 5px 80px 5px;
        .ant-collapse-content-box {
          padding: 10px 0;
        }
        .ant-collapse-header {
          overflow: hidden;
          .ant-collapse-header-text {
            flex: 1;
            overflow: hidden;
          }
        }
        .menu-list-item {
          width: 100%;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          // border-bottom: 1px solid #f0f0f0;
          &:hover {
            background-color: #f0f0f0;
            color: #222;
          }

          .menu-list-item-left {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            flex: 1;
            .menu-list-item-left-value {
              overflow: hidden;
              max-height: 20px;
            }
          }
          .menu-list-item-right {
            display: flex;
            gap: 5px;
            flex: 0 0 32px;
            height: 32px;
            align-items: center;
          }
        }
      }
    }
    .menu-list-children {
      border-right: 1px solid #f0f0f0;
    }
    .menu-tree-detail {
      border-right: 1px solid #f0f0f0;
      position: relative;
      padding: 10px;
      .ant-badge {
        width: 100%;
      }

      .menu-tree-detail-item {
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #f0f0f0;
        border-radius: 5px;
        &:hover {
          cursor: pointer;
          box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d, 0 12px 48px 16px #00000008;
        }
        .title {
          display: -webkit-box;
          -webkit-line-clamp: 2; /* 设置最多显示的行数 */
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin-bottom: 10px;
        }
        .intro {
          font-size: 12px;
          color: #aaa;
          margin-bottom: 8px;
        }
        .bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 12px;
          margin-bottom: 8px;

          .left {
          }
          .right {
            flex: 1;
            text-align: right;
            font-size: 13px;
            color: #aaa;
          }
        }
      }
      .item-active {
        border-color: #333333;
      }
    }
  }
}
